apiVersion: v1
kind: Service
metadata:
  name: "{{ name }}"
  namespace: "mlsysops"
spec:
  type: "{{ type }}"
  ports:
    - name: "ml-component"
      port: {{ ml_comp_port }}
      protocol: "TCP"
      targetPort: {{ ml_comp_port }}
  selector:
    mlsysops.eu/app: "{{ selector }}"