apiVersion: policy.karmada.io/v1alpha1
kind: PropagationPolicy
metadata:
  name: {{ name }}
spec:
  resourceSelectors:
    - apiVersion: mlsysops.eu/v1
      kind: MLSysOpsCluster
    - apiVersion: mlsysops.eu/v1
      kind: MLSysOpsNode
      labelSelector:
        matchLabels:
          clusterId: {{ clusterId }}
  conflictResolution: Overwrite
  placement:
    clusterAffinity:
      clusterNames:
        - {{ clusterId }}

