MLSysOpsNode:
  name: {{ node_name }}
  cluster_id: {{ cluster_id }}
  continuum_layer: {{ continuum_layer }}
  permitted_actions:{% for action in permitted_actions %}
    - {{ action -}}
{% endfor %}
  environment:
    node_type: virtualized
    os: ubuntu
    container_runtime:
      - containerd
  hardware:
    cpu:
      cores: 2
      architecture: amd64
      frequency:
        - 14000
        - 17000
      performance_indicator: 70 # BogoMIPS
    memory: 4
    disk: "120"